@{
    ViewBag.Title = "Home Page";
}
<div style="float: left; display: flex; padding-left: 10px">
    <div class="album-icon group">
        <img class="me-icon hover:shadow-lg" style="object-fit: cover" src="~/Images/Me/Professional.png" />
        <div class="me-tooltip group-hover:scale-100">
            The legend himself
        </div>

    </div>
</div>